* {
  /* border: 2px solid blue; */
  box-sizing: border-box;
}

body {
  /* margin-top: 120px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgrey;
}

main {
  margin-top: 120px;
  margin-bottom: auto;
}

#logo-random-artwork {
  height: 70px;
}

#loading-message-placeholder {
  text-align: center;
}

#loading-spinner-icon {
  width: 25px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.list-item {
  cursor: pointer;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-artwork:focus {
  outline: none;
  box-shadow: none;
}

.buttonImg {
  max-height: 350px;
}

.buttons-area {
  margin: 50px auto;
  width: 80%;
  padding: 10px;
}

footer {
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid darkgrey;
  margin-top: 120px;
}

footer p {
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

/* =================================================================================================== */
/* ABOUT PAGE */
/* =================================================================================================== */

.about-section {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
}

h3 {
  border-bottom: 1px solid grey;
}
