* {
  border: 2px solid blue;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  /* background-color: #E8FDFF; */
}

main {
  margin-top: 120px;
}

/* .navbar {
  max-height: 100px;
} */

#logo-random-artwork {
  height: 70px;
}

.btn-artwork {
  /* max-width: 300px; */
  max-height: 500px;
  cursor: pointer;
}

.listItem {
  margin: 5px auto;
  width: 90%;
  max-height: 300px;
}

.buttons-area {
  margin: 50px auto;
  width: 80%;
  padding: 10px;
}

.buttonImg {
  max-width: 200px;
  max-height: 100%;
}
